<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <title>404 - Không tìm thấy video</title>
        <link rel="stylesheet" href="/assets/style/404.css">
    </head>
    <body>
        <div class="container">
            <div class="icon">🎬</div>
            <h1>404</h1>
            <p><%= message %> 😢</p>
            <a href="/" class="btn">⬅ Quay về trang chủ</a>
        </div>
    </body>
</html>