# --- DATABASE CONFIG ---
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=mytube

# --- APP CONFIG ---
PORT=3000
SESSION_SECRET=phim_bat_ky_de_bao_mat_session

# --- GOOGLE AUTH CONFIG ---
GOOGLE_CLIENT_ID=nhap_id_tu_google_console_vào_day
GOOGLE_CLIENT_SECRET=nhap_ma_secret_vào_day
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback